.about-section-etiquette{
  height: 100%;
  padding: 2%;
  overflow: scroll;
}


.btn-etiquette{
  width: auto;
  color: var(--whiteColor);
  font-weight: bold;
  font-size: 10px;
  background-color: var(--inactiveButtons);
  height: 80%;
  padding-left: 1%;
  padding-right: 1%;
  border: none;
  text-align: left;

}

.buttons-div{
  text-align: right;
  height: 100px;
  margin: 0px;
  padding: 1%;
  padding-left: 0px;
  padding-right: 0px;
  background-color: var(--inactiveButtons);
}

#about-subheading-etiquette{
  font-size: 26px;
  color: var(--newsColor);
  font-weight: bold;
  font-style:bold;
}

#etiquette-image{
  width: 100%;
  height: auto;
  filter: invert(100%);
}

#etiquette{
  height: 100%;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
.about-section-etiquette{
  height: 600px;
  overflow: scroll;
  padding: 2%;
}


.btn-etiquette{
  width: auto;
  color: var(--whiteColor);
  font-weight: bold;
  font-size: 24px;
  background-color: var(--inactiveButtons);
  height: 80%;
  padding-left: 1%;
  padding-right: 1%;
  border: none;
  text-align: left;

}

.buttons-div{
  text-align: right;
  height: 100px;
  margin: 0px;
  padding: 1%;
  padding-left: 0px;
  padding-right: 0px;
  background-color: var(--inactiveButtons);
}

#about-subheading-etiquette{
  font-size: 26px;
  color: var(--newsColor);
  font-weight: bold;
  font-style:bold;
}

#etiquette-image{
  height: 500px;
  width: auto;
  filter: invert(100%);
}

#etiquette{
  height: 100%;
}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
.about-section-etiquette{
  height: 600px;
  overflow: scroll;
  padding: 2%;
}


.btn-etiquette{
  width: auto;
  color: var(--whiteColor);
  font-weight: bold;
  font-size: 24px;
  background-color: var(--inactiveButtons);
  height: 80%;
  padding-left: 1%;
  padding-right: 1%;
  border: none;
  text-align: left;

}

.buttons-div{
  text-align: right;
  height: 100px;
  margin: 0px;
  padding: 1%;
  padding-left: 0px;
  padding-right: 0px;
  background-color: var(--inactiveButtons);
}

#about-subheading-etiquette{
  font-size: 26px;
  color: var(--newsColor);
  font-weight: bold;
  font-style:bold;
}

#etiquette-image{
  height: 500px;
  width: auto;
  filter: invert(100%);
}

#etiquette{
  height: 100%;
}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 


}