  max-height: 200px;
}

.gallery-image-box{
  object-fit: cover;
  margin:0px;
  padding: 0px;
}

.gallery-image{
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0px;
  padding: 0px;

}

#feat-photo{
  display: none;
}

#feat-photo-col{
    text-align: center;
}

#photos{
/*  width: 200px;*/
  height: auto;
  overflow: scroll;
  height: 450px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
.gallery-thumbnail{
  max-height: 200px;
}

.gallery-image-box{
  object-fit: cover;
  margin:0px;
  padding: 0px;
}

.gallery-image{
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0px;
  padding: 0px;

}

#feat-photo{
    display: initial;
  width: 100%;
  height: 650px;
  object-fit: cover;

}

#feat-photo-col{
    text-align: center;
}

#photos{
    height: 650px;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 


}