.instructor-info h5, .instructor-info p{
  color: white;
}

.modal h5{
  color: white;
}

.modal-content{
  background-color: var(--newsColor);
  color: white;
}

.modal-img{
  width: 50%;
  height: auto;
}

.modal-title{ 
    color: white;

 }
 
.instructor-box{
  margin-left: 1%;
  width: 100%;
  height: 350px;
  margin-bottom: 4%;
  background-color: var(--newsColor);
  position: relative;
/*  border: solid;*/
}

.instructor-info{
  position: absolute;
  left: 20%;
  top: 75%;
  background-color: var(--newsColor);
  padding-left: 2%;
  width: 80%;
  opacity: 0.8;
}

.instructor-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*.modal-content{
  width: 150%; 
  margin-left: -25%;
}*/

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .instructor-info h5, .instructor-info p{
    color: white;
  }

  .instructor-box{
    margin-left: 1%;
    width: 100%;
    height: 350px;
    margin-bottom: 4%;
    background-color: var(--newsColor);
    position: relative;
  /*  border: solid;*/
  }

  .instructor-info{
    position: absolute;
    left: 20%;
    top: 75%;
    background-color: var(--newsColor);
    padding-left: 2%;
    width: 80%;
    opacity: 0.8;
  }

  .instructor-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/*  .modal-content{
    width: 100%;
    margin-left: 50%;
}*/

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 


}