.reg-table{
  width:50%;
  border: solid;
  margin: 5%;
  color: black;
}

table > p{
  color: black;
}

#aside{
  text-align: right;
  padding: 1%;
  color: white;
}

#reg-table-title{
  padding: 1%;
  color: var(--newsColor);
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	.policies{
	  padding: 3%;
	  background-color: var(--policiesBackground) ;
	  color: var(--newsColor) ;
	  text-align: center;
	  border: solid;
	  border-width: 2px
	}

	.policies p{
	  color: var(--policiesText);
	  font-size: 18px;
	}

	#reg-iframe{
	  border: solid;
	}

}

table{
  width: 90%;
  background-color: var(--policiesBackground);
}

.table-outer{
  background-color: var(--policiesBackground);
  border-style: solid;
  border-color: var(--newsColor);
  border-width: 2px;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 


}