table > p{
  color: black;
}

table{
  background-color: var(--policiesBackground);
}

.table-outer{
  background-color: var(--policiesBackground);
  padding: 2%;
}

.table-outer table{
  text-align: left;
}

td{
  text-align: left;
}

.reg1, .reg2{
  height: 500px;
}

#aside{
  text-align: right;
  padding: 1%;
  color: white;
}

#reg-table-title{
  padding: 1%;
  color: var(--newsColor);
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	.policies{
	  padding: 3%;
	  background-color: var(--policiesBackground) ;
	  color: var(--newsColor) ;
	  text-align: center;
    height: 500px; 
	}

	.policies p{
	  color: var(--policiesText);
	  font-size: 18px;
	}

	#reg-iframe{
	  border: solid;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 


}