table > p{
  color: black;
}

table{
  margin-top: 2%;
  background-color: var(--policiesBackground);
}

td{
  text-align: left;
  font-size: 20px;
  color: #383B40;
}

h4{
  color: black;
  font-size: 28px;
  font-weight: bold;
}

.policies p{
  font-size: 18px;
  color: #383B40;
}

.table-outer, .policies{
  background-color: var(--policiesBackground);
  padding: 2%;
  margin-bottom: 2%;
}

.policies{
  padding: 3%;
}

.table-outer, .policies{
  text-align: left;
  height: 450px;
}

#aside{
  text-align: right;
  font-size: 16px;
  padding: 1%;
  color: white;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 


}