
.schedule{
  background-color: var(--pageHeadingColor);
  --box-shadow-color-1: var(--pageHeadingColor);
  --box-shadow-color-2: grey;
  box-shadow: 0 2px 4px 0 var(--box-shadow-color), 0 3px 4px 0 var(--box-shadow-color);
  box-shadow: 0 4px 8px 0 var(--box-shadow-color-1), 0 6px 20px 0 var(--box-shadow-color-2) ;

}

.schedule th, .schedule td{
  text-align: center;
  vertical-align: middle;
}

.schedule th{
  color: white;
}
.class-tile{
  width: 85%;
  margin-left: 7.5%;
  height: 90px;
  padding: 2%;
  padding-left: 4%;
  text-align: left;
  border-radius: 2px;
/*-moz-box-shadow: 2px 2px white;
-webkit-box-shadow: 2px 2px white;
box-shadow: 2px 2px white;*/
}

.class-tile>p, .class-tile>h6, .class-tile>.tiny-text{
  color: var(--newsColor);
}

.song{
  font-style: italic;
}

.class-time{
  font-size: 18px;
  font-weight: bold;
  color: white;

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .schedule{
  background-color: var(--pageHeadingColor);
  width: 100%;
  }

  .schedule th, .schedule td{
    text-align: center;
    vertical-align: middle;
  }

  .class-tile{
    width: 85%;
    margin-left: 7.5%;
    height: 90px;
    padding: 2%;
    padding-left: 4%;
    text-align: left;
  }

  .class-tile>p, .class-tile>h6, .class-tile>.tiny-text{
    color: var(--newsColor);
  }

  .song{
    font-style: italic;
  }

  .class-time{
    font-size: 18px;
    font-weight: bold;
    color: white;

  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 


}