

body, html {
    height: 100%;
}

body { 
    font-family: 'Roboto', sans-serif;
    /* The image used */
    background-image: url("../images/sequins-1b.jpg");

    background-position: top;

    /* Center and scale the image nicely */
/*    background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #67778C;
    background-blend-mode: multiply;
    background-attachment: fixed;
}
#nav-and-news {
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
}

/*#nav-and-news{
  position: relative;
}*/
.news-ticker{
  background-color: #2E2940;
  height: 150px;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  color: white;
}

@media (min-width: 768px) {
    .news-ticker{
      background-color: #2E2940;
      height: 150px;
      vertical-align: middle;
      text-align: center;
      padding: 10px;
      color: white;
    }
}


.about-us{
  padding: 2%;
}

.slideshow{
  margin-top: 1%;
}

.medium-image{
  max-width: 650px; 
  max-height: 650px;

}

.about-block{
  padding: 1%;
  background: #1482CC;
  font-size: 18px;
  color: white;
}

.ballet-color{
  color: #E84B30;

}

.tap-color{
  color: #FFD432;
}

.pointe-color{
  color: #49E83E;
}

.jazz-color{
  color: #44CCBC;
}

.combo-color{
  color: #1482CC;
}

.ballet-background{
  background-color: #E84B30;
}

.tap-background{
  background-color: #FFD432;
}

.pointe-background{
  background-color: #49E83E;
}

.jazz-background{
  background-color: #44CCBC;
}

.combo-background{
  background-color: #1482CC;
}


.classes-subheading{
  font-size: 26px;
  color: white;
  margin: 10px;
}
.classes-block{
  padding: 1%;

  opacity: 0.7;
  font-size: 18px;
  color: white;
  margin: 1%;
}
.gallery-image{
  height: 180px;
  width: auto;
}

.icon{
  height: 100px;
  width: auto;
}

#contact{
  text-align: center;
}

.giant-glyph{
  font-size: 100px;
}

.gallery-thumbnail{
  max-height: 200px;

}


.contact-text{
  font-size: 18px;
  color: white;
}


.news-box{
  background-color: #1482CC;
  padding: 2%;
}

.news-box>p{
  color: #2E2940;
}

.news-box>a{
  color: white;
}
.about-image{
  padding: 1%;
  margin: 1%;
}

.about-subheading{
  font-size: 28px;
  color: white;
  font-weight: bold;
  margin: 1%;
}

.small-image{
  max-width: 400px; 
  max-height: 400px;
  margin: 2%;
/*  --box-shadow-color-1: #5e285d;
  --box-shadow-color-2: #688EA6;
  box-shadow: 0 2px 4px 0 var(--box-shadow-color), 0 3px 4px 0 var(--box-shadow-color);
  box-shadow: 0 4px 8px 0 var(--box-shadow-color-1), 0 6px 20px 0 var(--box-shadow-color-2) ;
*/

}
.class-style{
  padding: 2%;
}

.date{
  text-align: right;
}


.tiny-text{
  font-size: 10px;
  color: white;
}

.dsp-info, .current-rp-announcements{
  padding: 5%;
}

.class-tile{
  width: 100px;
  height: 80px;
  overflow: scroll;
  border: solid;
  padding: 2%;
}

.song{
  font-style: italic;
}

.class-time{
  font-size: 24px;
  font-weight: bold;

}

/*.current-rp-announcements{
  margin: 5%;
}*/

body, html{
  height: 100%;
}

.carousel{
  padding: 5%;
  margin: 5%;
}
.main-content{
  width: 70%;
  margin-top: 250px;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #2E2940;
  opacity: 0.9;
}
/*dark slate grey*/
.main-body{
  margin-left: 12%;
  margin-right: 12%;
  background-color: #BF75BB;
  --box-shadow-color-1: #BF75BB;
  --box-shadow-color-2: #688EA6;
  /*box-shadow: 0 2px 4px 0 var(--box-shadow-color), 0 3px 4px 0 var(--box-shadow-color);*/
  box-shadow: 0 4px 8px 0 var(--box-shadow-color-1), 0 6px 20px 0 var(--box-shadow-color-2) ;
/*  box-shadow: 0 2px 4px 0, 0 3px 4px 0;*/
}

h1{
  margin: 5%;
  margin-left: 0px;
  margin-bottom: 2%;
  background-color:  #BF75BB;
  width: 70%;


}

#logo{
  width: 85px;
  height: auto;
  filter: invert(100%);
}

nav{
  background-color: #688EA6;
  opacity: 0.8;
  color: #2E2940;
  font-size: 20px;
  font-weight: bold;
}
 a{

  color: #2E2940;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.brand{
  font-size: 60px;
  font-family: 'Petit Formal Script', cursive;
  font-weight: bold;
  color: white;
}

@media (min-width: 768px) {
    .brand{
      font-size: 50px;
      font-family: 'Petit Formal Script', cursive;
      font-weight: bold;
      color: white;
    }
}
h2{

}

h3{

}

h4{

}

h5{

}

p{

}

a{

}

.rp-announcement{
  background-color: #49E83E;
  padding: 10px;
  margin: 2%;
  opacity: 0.9;
}

.rp-announcement>p{
  color: white;
}

.rp-announcement-headline{
  color: #2E2940;
}

#testing{
  font-size: 40px;
  color: blue;
}

.thumbnail {
  height: 550px;
  padding: 1%;
  margin: 4%;
  margin-top: 1%;
  overflow: scroll;
  --box-shadow-color-1: #688EA6;
  --box-shadow-color-2: #BF75BB;
  /*box-shadow: 0 2px 4px 0 var(--box-shadow-color), 0 3px 4px 0 var(--box-shadow-color);*/
  box-shadow: 0 4px 8px 0 var(--box-shadow-color-1), 0 6px 20px 0 var(--box-shadow-color-2) ;
/*  box-shadow: 0 2px 4px 0, 0 3px 4px 0;*/
}