/* ----------- Color variables ------------ */

/*:root {
  --newsColor: #44435E; 
  --navColor: #97A2C7;
  --pageHeadingColor: #96858F;
  --whiteColor: #D5D5D5;

  --balletColor: #A578C4;
  --tapColor: #9FDD92;
  --jazzColor: #FC8A7B;
  --comboColor: #83EBF3;
  --pointeColor: #A7628B;

  --standardTextColor: #44435E;
  --enlargedParagraphColor: #44435E;
  --mottoColor: #A7628B;
  --policiesBackground: #888888;
  --activeButtonColor: #5D6D7E;
  --policiesText: white;
  --policiesHeading: blue;
  --inactiveButtons: #AEB6BF;

}*/

:root{
  --whiteColor: #D5D5D5;
}
body, html {
    height: 100%;
}

.studio-name a{
  color: white;
}

body { 
    font-family: 'Raleway', sans-serif;
    background-image: url("../images/sequins-2b.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

/* ----------- Standard text types ------------ */

h1{
  margin: 15%;
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: var(--pageHeadingColor);
  width: 70%;
  font-size: 32px;
  color: white;
  padding: 3%;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
}

h2{
  font-size: 30px;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;

}

h3{
  font-size: 28px;
  color: var(--newsColor);
}

h4{
  font-size: 24px;

}

h5{
  color: var(--enlargedParagraphColor);
  font-size: 18px;
  line-height: 20px;

}

p{
  font-size: 16px;
  color: var(--standardTextColor);
}

a{

}

/* *********** SMALL AND UP  */
/* ----------- Standard text types ------------ */
@media (min-width: 768px) { 
  h1{
    margin: 1%;
    margin-bottom: 2%;
    background-color: var(--pageHeadingColor);
    width: 65%;
    font-size: 36px;
    color: white;
    padding: 1%;
    box-shadow: 0 3px 4px var(--pageHeadingColor), 0 3px 4px grey;
/*    box-shadow: 3px 3px 2px  var(--pageHeadingColor) grey;*/
    text-align: left;
  }

  h2{
    font-size: 30px;

  }

  h3{
    font-size: 28px;
    color: var(--newsColor);
  }

  h4{
    font-size: 24px;

  }

  h5{
    color: var(--enlargedParagraphColor);
    font-size: 20px;
    line-height: 22px;

  }

  p{
    font-size: 18px;
    color: var(--standardTextColor);
  }

  a{

  }
}
/* -----------------     */

/* ----------- Colors ------------ */

.tap-color{
  color: var(--tapColor);
}

.pointe-color{
  color: var(--pointeColor);
}

.jazz-color{
  color: var(--jazzColor);
}

.combo-color{
  color: var(--comboColor);
}

.ballet-color{
  color: var(--balletColor);

}

.ballet-background{
  background-color: var(--balletColor);
}

.tap-background{
  background-color: var(--tapColor);
}

.pointe-background{
  background-color: var(--pointeColor);
}

.jazz-background{
  background-color: var(--jazzColor);
}

.combo-background{
  background-color: var(--comboColor);
}

.default-background{
  background-color: var(--pageHeadingColor);
}

/* ----------- content window ------------ */

.main-content{
  width: 90%;
  margin: 5%;
  margin-top: 2%;
  background-color: var(--navColor);
  opacity: 1;
  padding-bottom: 1%;
}

/* ----------- Navbar ------------ */

.dropdown-menu li a{
  z-index: 50;
}

.new-ticker>p{
  color: white;

}
.navbar-toggle{
  margin-left: 5%;
}

#nav-and-news{
  position: relative;
  z-index: 1000;
}

.nav a {
  font-size: 14px;
  font-weight: bold;
/*  color: white;*/
}

.news-ticker{
  background-color: var(--newsColor);
  height: 40px;
  padding: 10px;
  color: #D5D5D5;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}

.studio-name{
  text-align: center;
  font-size: 46px;
  font-family: 'Rouge Script', cursive;
  font-weight: bold;
  background-color: var(--newsColor);
  color: white;
}

nav{
  background-color: var(--navColor);
  opacity: 0.8;
  color: var(--newsColor);
  font-size: 20px;
  font-weight: bold;
}
.navbar-nav>li {
    float: left;
    width: 100%;
}

/* ----------- Footer ------------ */

#contact-info{
  padding: 5%;
  font-size: 20px;
  background-color: var(--newsColor);
  color: white;
  height: 400px;
  text-align: center;
  position: relative;
  bottom: 0px;
}

#contact-info h4, #contact-info p, #contact-info h5{
  color: white;
}



#contact-info h3{
  background-color: var(--comboColor);
  padding: 2%;
  margin-left: 0%;
  margin-right: 0%;
  font-size: 14px;

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
.studio-name{
  text-align: center;
  font-size: 46px;
  line-height: 50px
  vertical-align: middle;
  font-family: 'Rouge Script', cursive;
  font-weight: bold;
  background-color: var(--newsColor);
}

nav{
  background-color: var(--navColor);
  opacity: 0.8;
  color: var(--newsColor);
  font-size: 20px;
  font-weight: bold;
}
.navbar-nav>li {
    float: none;
    width: auto;
}


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .nav .brand{
  font-size: 32px;
  line-height: 32px;
  font-family: 'Rouge Script', cursive;
  font-weight: bold;
  color: var(--newsColor);
  }


  .main-content{
    width: 70%;
    margin: 15%;
    margin-top: 2%;
    background-color: var(--navColor);
    opacity: 1;
    padding-bottom: 1%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 


  .nav .nav-right{
    vertical-align: middle
  }
  
  .nav a{
    font-weight: normal;
    font-size: 16px;
  }

  .main-content{
    width: 75%;
    margin: 12.5%;
    margin-top: 2%;
    background-color: var(--navColor);
    opacity: 1;
    padding-bottom: 1%;
  }

  #contact-info h3{
  background-color: var(--comboColor);
  font-size: 24px;
  padding: 2%;
  margin-left: 25%;
  margin-right: 25%;
  }
}








.medium-image{
  max-width: 650px; 
  max-height: 650px;

}

.overview-image{
  width: 100%;
  height: 250px;
  border: solid;
  object-fit: cover;

}

.icon{
  height: 100px;
  width: auto;
}



.giant-glyph{
  font-size: 100px;
}



/* tables */

td{
  font-size: 24px;
}

th{
  font-size: 26px;
  color: black;
}

tr{
  text-align: center;
}

.about-image{
  padding: 1%;
  margin: 1%;
}

.small-image{
  max-width: 250px; 
  max-height: 250px;
  margin: 2%;
  --box-shadow-color-1: black;
  --box-shadow-color-2: grey;
  box-shadow: 0 2px 4px 0 var(--box-shadow-color), 0 3px 4px 0 var(--box-shadow-color);
  box-shadow: 0 4px 8px 0 var(--box-shadow-color-1), 0 6px 20px 0 var(--box-shadow-color-2) ;


}

.date{
  text-align: right;
}

.tiny-text{
  font-size: 8px;
  color: #D5D5D5;
}

body, html{
  height: 100%;
}


#classes-overview li{
  color: var(--pageHeadingColor);
  font-size: 20px;
}

/*@media (max-width: 768px) {
    .main-content{
      width: 90%;
      margin-top: 250px;
      margin-left: 5%;
      margin-right: 5%;
      background-color: #44435E;
      opacity: 0.9;
    }
}*/
/*dark slate grey*/
.main-content{
-webkit-box-shadow: 3px 1px 50px 11px rgba(31,31,33,1);
-moz-box-shadow: 3px 1px 50px 11px rgba(31,31,33,1);
box-shadow: 3px 1px 50px 11px rgba(31,31,33,1);
}

button:focus {outline:0;}

#logo{
  height: 80px;
  width: auto;
}


a{
  color: var(--newsColor);
}

.policies h4{
  color: var(--policiesHeading);
}

#testing{
  font-size: 40px;
  color: blue;
}

.thumbnail {
  height: 550px;
  padding: 1%;
  overflow: scroll;
  --box-shadow-color-1: #97A2C7;
  --box-shadow-color-2: #BF75BB;
  box-shadow: 0 4px 8px 0 var(--box-shadow-color-1), 0 6px 20px 0 var(--box-shadow-color-2) ;
}

.landing-page{
  text-align: center;
}


.hide-bullets {
  list-style:none;
  margin-left: -40px;
  margin-top:20px;
}


.thumbnail {
  padding: 0;
}


.class-btn{
  border: none;
  background: none;
}



